<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h2>Welcome to the login page...</h2>
    <a href="{{url_for('index')}}"><h2>New to the site ? then sign-up here</h2></a>
    <form method="POST" action="{{url_for('login')}}">

        <input type="text" label="Email" name="email" placeholder="Enter your email here"><br><br>
        <input type="password" label="Password" name="password" placeholder="enter your password"><br><br>
        <input type="submit" value="submit">
        
    </form>



</body>
</html>